/vendor
/node_modules
/public/storage
/storage/*.key
/vendor
/logs
/.idea
Homestead.json
Homestead.yaml

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/*.php
.env.*.php
.env.php

# Rocketeer PHP task runner and deployment package. https://github.com/rocketeers/rocketeer
.rocketeer/
